// navigation
.nav__logo {
    margin-left: 50px;
    font-size: 25px;
}

.nav-menu {
    margin-right: 50px;
}

.nav-box {
    top: 90.4px;
}

.cart-item-menu {
    width: 90%;
    justify-content: space-between;
    flex-direction: row;

}

// introduction
.introduction-arrow {
    bottom: 90px;
}
.services {
    flex-direction: row;
}

.service-start {
    margin: 20px;
}

// order
.order-info-box {
    flex-direction: row;
    padding-top: 50px;
}

.order-quantity-box {
    flex-direction: row;

    &--modified {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        column-gap: 40px;
        row-gap: 20px;
        grid-auto-rows: minmax(250px, auto);
    }
}

.order-info-desc {
    margin: 5px;
}

.order-cart {
    display: flex;
}

.additional-services-box {
    grid-template-columns: repeat(4, 200px);
    column-gap: 40px;
    row-gap: 20px;
    grid-auto-rows: minmax(250px, auto);
}

.additional-services-item {
    &__title {
        margin: 20px 0 5px 0;

    }
}

.additional-input-box {
    grid-template-columns: repeat(3, 200px);
    column-gap: 40px;
    row-gap: 20px;
    grid-auto-rows: minmax(250px, auto);
}

.additional-item-img {
    height: 200px;
    width: 200px;
}

//payments
.payments-box {
    flex-direction: row;
}

.payments-info:first-child {
    margin-right: 40px;
}

// summary
.cart-item {
    margin: 20px 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

// form
.form-label {
    width: 500px;
}

.form-input {
    width: 500px;
}

.textarea {
    width: 500px;
}

// contact
.contact__title {
    padding-bottom: 40px;
    font-size: 35px;
}

// footer
.footer__title {
    text-align: left;
}

.footer-box {
    justify-content: space-between;
    flex-direction: row;
    
    &__item {
        width: 180px;
    }
}